<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="estilo/estilo.css">
	<title></title>
</head>
<body>
	<div id="conteiner">
		<div id="marca">Marca</div>
		<div id="conteudo">
			<div id="conteudo-principal">
				<h2>Conteúdo Principal</h2>
			<p>Proin posuere, enim sit amet aliquet vestibulum, ipsum risus pellentesque felis, in mollis enim neque quis ligula. Nunc scelerisque justo sed neque laoreet gravida. Curabitur tincidunt tortor posuere risus dignissim, in accumsan erat ultrices.  </p>
			</div>
			<div id="conteudo-secundario">
				<h2>Conteúdo Secundário</h2>
			<p>Proin posuere, enim sit amet aliquet vestibulum, ipsum risus pellentesque felis, in mollis enim neque quis ligula. Nunc scelerisque justo sed neque laoreet gravida. Curabitur tincidunt tortor posuere risus dignissim, in accumsan erat ultrices. </p>
			</div>
		</div>
		<div id="navegacao">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">notícias</a></li>
				<li><a href="#">Produtos</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</div>
		<div id="rodape">Rodapé</div>
	</div>
</body>
</html>